################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/meat-app-starter/.vs
.vs/
/MeatApp/APIs/Meat.API/obj
